<!DOCTYPE html>
<html lang="en">
  <head>
    {% seo "" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/coldark.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <script async data-token="MWFWWD5X1WEC" data-respect-dnt data-no-cookie src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <nav class="p-5 bg-gray-100 dark:bg-gray-800">
      <a class="font-semibold text-teal-700 rounded-sm dark:text-teal-400 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-offset-gray-800 dark:focus:ring-pink-400 focus:ring-pink-700" href="/">Devlog</a>
    </nav>
    <main class="my-8 md:px-8 grid grid-template-main">
      <div class="text-sm col-start-3 col-end-4">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
